<h1>Become a Seller</h1>
<p>Here’s what it means to be a seller. You'll have your own profile, be able to set your prices, and interact with customers directly. Here's how it works:</p>

<!-- Add details about what being a seller entails -->

<%= link_to 'Continue to Become a Seller', new_seller_profile_path, class: 'btn-seller' %>
