<h1>Your Orders</h1>

<% if @orders.any? %>
  <ul>
    <% @orders.each do |order| %>
      <li>
        <strong>Post:</strong> <%= link_to order.post.title, post_path(order.post) %><br>
        <strong>Message:</strong> <%= order.message %><br>
        <strong>Price Range:</strong> <%= order.price_range.capitalize %><br>
        <strong>Status:</strong> <%= order.status %><br>
        <hr>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no orders yet.</p>
<% end %>
