<h1>Your Orders</h1>

<% if @requests.any? %>
  <ul>
    <% @requests.each do |request| %>
      <li>
        <strong>Post Title:</strong> <%= request.post.title %> <br>
        <strong>Message:</strong> <%= request.message %> <br>
        <strong>Price Range:</strong> <%= request.price_range.capitalize %> <br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no orders yet.</p>
<% end %>
