<%= image_tag @post.image, class: "your-custom-class", alt: "Post Image" if @post.image.attached? %>

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>


<!-- Back Button to All Posts (Positioned at the Bottom Right Corner) -->
<%= link_to 'Back', posts_path, class: "btn btn-secondary back-btn" %>

